<!-- Projects Start -->

<section
  id="{{ page.section-type }}"
  class="container content-section text-center"
>
  <div class="row justify-content-center">
    <div class="col-12">{{ page.content | markdownify }}</div>
 
    <div class="row pt-5">
        {% for project in site.projects %}
        <div class="col-md-4 col-12 mb-4">
          <div class="project-card">
            <div class="project-image">
              {% if project.image or project.gif %}
                {% if project.gif %}
                  <img class="img-fluid" src="{{ site.url }}/{{ project.gif }}" alt="{{ project.title }}" width="100%" />
                {% else %}
                  <img class="img-fluid" src="{{ site.url }}/{{ project.image }}" alt="{{ project.title }}" width="100%" />
                {% endif %}
              {% endif %}
            </div>
            <div class="project-details mt-3">
              <h4>{{ project.title }}</h4>
              <p>{{ project.description | markdownify }}</p>
              {% if project.link %}
              <a href="{{ project.link }}" class="btn btn-primary" target="_blank">View Project</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
 
  </div>
  </div>
</section>

<!-- Projects End -->