<!-- Social Buttons Start -->

<ul class="list-inline social-buttons">
  {% for network in site.social %} 
    {% if network.icon == "rss" %}
    <li class="list-inline-item">
      <a href="{{ network.url }}" target="_blank" style="color: #cd2764">
        <i class="fas fa-{{ network.icon }}"></i>
        <!-- Using 'fas' for FontAwesome Solid -->
      </a>
    </li>
    {% elsif network.icon == "resume" %}
    <li class="list-inline-item">
      <a href="{{ network.url }}" target="_blank" style="color: #cd2764; display: inline-flex; align-items: center; justify-content: center;">
        <img src="{{ site.url }}/{{ network.img }}" alt="Resume" width="24" height="24"
        style="display: block; margin: 0 auto; filter: brightness(0) saturate(100%) invert(24%) sepia(88%) saturate(2142%) hue-rotate(314deg) brightness(91%) contrast(89%);"/>
      </a>
    </li>
    {% else %}
    <li class="list-inline-item">
      <a href="{{ network.url }}" target="_blank" style="color: #cd2764">
        <i class="fab fa-{{ network.icon }}"></i>
        <!-- Using 'fab' for FontAwesome Brands -->
      </a>
    </li>
    {% endif %} 
  {% endfor %}
</ul>

<!-- Social Buttons End -->
